.idea/
x64/
.vs
*.vcxproj
*.filters
*.user
JUCE
JuceLibrarayCode/
.vscode/
project2/Builds/VisualStudio2022/decode_test.txt
project2/Builds/VisualStudio2022/diff.txt
project2/Builds/VisualStudio2022/max_vector.txt
project2/Builds/VisualStudio2022/output_bits.txt
project2/Builds/VisualStudio2022/output_bits_receiver_with_wire.txt
project2/Builds/VisualStudio2022/output_fre.txt
project2/Builds/VisualStudio2022/packets_sequence.txt
project2/Builds/VisualStudio2022/receiver.txt
project2/Builds/VisualStudio2022/receiver_preamble.txt
project2/Builds/VisualStudio2022/sequence.txt
project2/Builds/VisualStudio2022/smoothed.txt
project2/Builds/VisualStudio2022/symbols.txt
project2/Builds/VisualStudio2022/transmitter_preamble.txt
project2/Builds/VisualStudio2022/project2_bits_receiver.bin
project2/Builds/VisualStudio2022/project2_bits_receiver.txt
project2/Builds/VisualStudio2022/error_data_log.txt
project2/Builds/VisualStudio2022/inBuffer_log.txt
project2/Builds/VisualStudio2022/diff2.txt
project2/Builds/VisualStudio2022/OUTPUT_CSMA.bin
project2/Builds/VisualStudio2022/decode_log.txt
project2/Builds/VisualStudio2022/RTT_log.txt
