.idea/
x64/
.vs
*.vcxproj
*.filters
*.user
JUCE
JuceLibrarayCode/
.vscode/
Builds/VisualStudio2022/decode_test.txt
Builds/VisualStudio2022/diff.txt
Builds/VisualStudio2022/max_vector.txt
Builds/VisualStudio2022/output_bits.txt
Builds/VisualStudio2022/output_bits_receiver_with_wire.txt
Builds/VisualStudio2022/output_fre.txt
Builds/VisualStudio2022/packets_sequence.txt
Builds/VisualStudio2022/receiver.txt
Builds/VisualStudio2022/receiver_preamble.txt
Builds/VisualStudio2022/sequence.txt
Builds/VisualStudio2022/smoothed.txt
Builds/VisualStudio2022/symbols.txt
Builds/VisualStudio2022/transmitter_preamble.txt
Builds/VisualStudio2022/project2_bits_receiver.bin
Builds/VisualStudio2022/project2_bits_receiver.txt
Builds/VisualStudio2022/error_data_log.txt
Builds/VisualStudio2022/inBuffer_log.txt
Builds/VisualStudio2022/diff2.txt
Builds/VisualStudio2022/OUTPUT_CSMA.bin
Builds/VisualStudio2022/decode_log.txt
Builds/VisualStudio2022/RTT_log.txt
Builds/VisualStudio2022/crc.txt
Builds/VisualStudio2022/inBuffer_log.txt
Builds/VisualStudio2022/project2_bits_receiver.txt
